include LICENSE
include README.md
include pyproject.toml
include DOCUMENTATION.md
include RELEASE_NOTES.md

recursive-include modelport/templates *
recursive-include modelport/examples *.py

prune modelport/examples/library_test_*
prune tests/ 